<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drAIn</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="nav-bar">
    <div class="nav-container">
        <a href="/home" class="logo-text">drAIn</a>
        <div class="nav-buttons">
            <a href="/refill" class="nav-button1">Refill</a>
            <a href="/deplete" class="nav-button3">Deplete</a>
            <a href="/logout" class="nav-button2">Logout</a>
        </div>
    </div>    
    </nav>
    <header>
        <section class="home-section">
            <div class="water-level-text">
                <h1>You have {{ water_level }}% of water left!</h1>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for message in messages %}
                                <div class="alert success-alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </section>    
    </header>
    <footer>
        <div class="footer-content">
            <p>Created with 🩵 by Scrumpty Dumpty</p>
        </div>
    </footer>
    
    <script src="static/js/script.js"></script>
</body>
</html>